extends templates/primary

block title
  title Error 404 

block content
  h1 Error 404
  p
    | Give that your excuse for a 404 error here.
    br
    | We are sorry but... Bla bla bla bla...
    br
    br
    a(href=baseUrl) &lt;- Return to home page.
