<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document Title</title>

  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>

  <p>Hello, world!</p>

  <button id="click-btn">Click-me!</button>

  <script src="/assets/js/index.js"></script>
</body>
</html>
