doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
      
    block title
      title= pageTitle || 'Page'
    
    link(rel="icon" href="/assets/ext/favicon.ico")
    link(rel="stylesheet" href="/assets/css/index.css")
  
  body
    block content
      
    script(src="/assets/js/index.js")
      
    block scripts
